@import '../../main.scss';

@mixin card-style($position, $back-color) {
    &:nth-child(#{$position}) {
        background-color: $back-color;
        &:hover {
            opacity: 0.8;
        }
    }
}

.custom-card-container {
    font-family: Hind;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    transition: opacity 0.4s;

    @include card-style(even, white);
    @include card-style(odd, white);

    &.small {
        width: 200px;
        height: 300px;
    }

    &.medium {
        width: 250px;
        height: 350px;
    }
    &.large {
        width: 300px;
        height: 400px;
    }
    
    .image-block {
        height: 50%;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .text-block {
        min-height: 50%;
        padding: 20px;
        color: $tertiary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        word-break: break-word;

        p {
            margin: 0;
            min-height: 50px;
            padding: 0 10px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: white;
                border-radius: 2px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: grey;
                margin-right: 5px;
                border-radius: 2px;
            }
        }

        h3 {
            color: $primary;
            font-weight: 600;
            &::after {
                content: '';
                display: block;
                position: relative;
                width: 50%;
                bottom: -5px;
                left: 25%;
                height: 1px;
                background-color: $tertiary;
            }
        }

    }

}