@import '../../main.scss';

.section-card-grid {
    display: grid;
    margin: 50px 30px;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .card-item {
        justify-self: center;
    }
}

.header-title {
    text-align: center;
    font-family: Audiowide;
    color: $light-blue;
}