.section-card-grid {
    display: grid;
    margin: 50px 30px;
    gap: 25px;

    @media (min-width: 1800px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1440px) and (max-width: 1799px) {
        grid-template-columns: repeat(4, 1fr);
    }
    
    @media (min-width: 1024px) and (max-width: 1439px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
        margin: 50px 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-item {
        margin: 15px auto;
    }
}