// Color theme 

$blue-green: #008B8B;
$light-green: #08A377;
$dark-green: #089947;
$light-blue: #087AA3;
$dark-blue: #084D99;

// Font them

@font-face {
  font-family: 'Audiowide';
  src: url("../src/style/font/Audiowide-Regular.ttf") format("truetype");
}