@import '../../main.scss';

.container {
  margin: 100px 50px;
  font-family: Montserrat;
  font-weight: 700;
  display: flex;
  .home-title {
    align-items: center;
    color: $white;
    font-size: 34px;
  }
}